/* default styles for laptops */
.container {
    display: grid;
    grid-template-columns: repeat (12, 1fr);
    grid-template-rows: 1fr 5fr 2fr;
    height: 85vh;
    width: 85vw;
    grid-template-areas:
        "hd hd hd hd hd hd hd hd hd hd hd hd"
        "ct ct ct ct ct ct ct ct sb sb sb sb"
        "ft ft ft ft ft ft ft ft ft ft ft ft";
}

.header {
    background-color: #E0E0E0;
    grid-area: hd;
    text-align: center;
}

.sidebar {
    background-color: #DDECCB;
    grid-area: sb;
    text-align: center;
}

.content {
    background-color: #FFF8E3;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 2fr 3fr;
    grid-area: ct;
    align-items: start;
    justify-items: center;

}

.content__upper {
    display: grid;
    grid-area: 1/1/2/3;
    width: 100%;
    text-align: center;
}

.content__lower {
    display: grid;
    grid-area: 2/1/3/3;
    grid-template-columns: repeat (2, 1fr);
    grid-template-rows: repeat (2, 1fr);
    gap: 5px;
    height: 100%;
    width: 100%;
    justify-items: stretch;
    align-items: center;
    text-align: center;
}

.content__tab1,
.content__tab2,
.content__tab3 {
    display: grid;
    background-color: #FEEAB9;
    height: 70%;
    width: 95%;
    margin: auto;
    align-items: center;
}

.content__tab1,
.content__tab2 {
    width: 90%;
    margin-bottom: 1%;
}

.content__tab3 {
    grid-column: span 2;
    margin-top: 1%;
}

.footer {
    background-color: #E0E0E0;
    grid-area: ft;
    display: grid;
    grid-template-columns: repeat(4, 3fr);
    justify-items: center;
    align-items: center;
}

.footer__box {
    display: flex;
    background-color: white;
    height: 70%;
    width: 80%;
}

.footer__boxtab {
    margin: auto;
    padding: 20px;
}

/* adaptivity for phones */
@media screen and (max-width: 767px) {
    .container {
        grid-template-areas:
            "hd hd hd hd hd hd hd hd hd hd hd hd"
            "sb sb sb sb sb sb sb sb sb sb sb sb"
            "ct ct ct ct ct ct ct ct ct ct ct ct"
            "ft ft ft ft ft ft ft ft ft ft ft ft"
        ;
    }

    /* ERRORS: content section for phones START */
    .content {
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr;
    }

    .content__upper {
        grid-area: 1/1/2/2;
    }

    .content__lower {
        display: grid;
        grid-area: 2/1/3/2;
        grid-template-columns: 1fr;
        grid-template-rows: repeat(3, 1fr);
    }

    .content__tab1,
    .content__tab2,
    .content__tab3 {
        width: 95%;
        height: 90%;
    }

    /* ERRORS: content section for phones END */

    .footer {
        grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    }


}